---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getCollection, getEntry } from "astro:content";
import Header from "@components/Header.astro";
import Modal from "@components/Modal.astro";
import Info from "@components/Info.astro";
import ProjectList from "@components/ProjectList.astro";

const weddings = await getCollection("wedding");

const randomIndex = Math.floor(Math.random() * weddings.length);
const featuredWedding = weddings[randomIndex];

const entry = await getEntry("about", "about");
let Content;
if (entry) {
  ({ Content } = await entry.render());
} else {
  console.warn("About entry not found. Please ensure 'about.md' exists in 'src/content/about/'.");
  Content = () => "<p>About content not available.</p>";
}
---

<BaseLayout title="Klas Näsman Bröllopsfotograf">
  <Modal first="Klas Näsman" second="Bröllopsfotograf" />
  <div class="index__container">
    <Header title={""} />
    <section class="index__section">
      {
        featuredWedding && (
          <div class="index__featured">
            <Image
              class="index__img lazy__load"
              src={featuredWedding.data.thumb}
              alt="Wedding Photo, couple"
              width={1200}
            />
          </div>
        )
      }
      {
        weddings.map((entry) => (
          <div class="index__weddings">
            <a id={entry.data.title} href={`/wedding/${entry.slug}`}>
              <Image class="index__img lazy__load" src={entry.data.thumb} alt="Wedding Photo, couple" width={1200} />
            </a>
          </div>
        ))
      }
    </section>
  </div>
  <div class="info-list__container">
    <Info Content={Content} />
    <ProjectList />
  </div>
  <!-- <Footer /> -->
</BaseLayout>

<style>
  .index__container {
    opacity: 1;
    filter: blur(0px);
    transition:
      opacity 0.6s cubic-bezier(0, 0, 0.6, 1),
      filter 0.6s cubic-bezier(0, 0, 0.6, 1);
  }

  .index__container.close {
    opacity: 0;
    filter: blur(10px);
  }

  .index__section div {
    display: grid;
    min-height: 80dvh;
  }

  .index__section div:first-of-type {
    min-height: 100dvh;
    justify-content: center;
  }
  .index__section > div:nth-child(even) {
    justify-content: flex-end;
  }

  @media (width <=750px) {
    .index__container > section {
      justify-content: center;
      gap: 1rem 0rem;
      margin-block-end: 12rem;
    }
  }

  .index__img {
    min-width: inherit;
    min-height: inherit;
    max-width: var(--image-width);
    object-fit: contain;
  }

  @media (width <=750px) {
    .index__img {
      max-width: 100%;
    }
  }

  .info-list__container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--spacer-l);
  }
</style>
