---
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";
import ProjectList from "@components/ProjectList.astro";
import Modal from "@components/Modal.astro";
import Info from "@components/Info.astro";
import Header from "@components/Header.astro";
import Footer from "@components/XFooter.astro";

interface Props {
  entry: CollectionEntry<"wedding">;
}

export async function getStaticPaths() {
  const wedding = await getCollection("wedding");
  return wedding.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const photos = entry.data.images;
---

<BaseLayout title={`${entry.data.title}`}>
  <Modal first={entry.data.title} second={entry.data.location} />
  <div class="index__container">
    <Header title={""} />
    <section class="index__section">
      {
        photos.map((photo: any) => (
          <div>
            <a id={entry.data.title}>
              <Image class="index__img lazy__load" src={photo} alt="Wedding Photo, couple" width={1200} />
            </a>
          </div>
        ))
      }
    </section>
  </div>
  <div class="info-list__container">
    <Info Content={Content} couple={entry.data.title} date={entry.data.date ?? ""} />
    <ProjectList />
  </div>
  <!-- <Footer /> -->
</BaseLayout>

<style>
  .index__container {
    margin-inline: var(--images-inline);
    opacity: 1;
    filter: blur(0px);
    transition:
      opacity 0.6s cubic-bezier(0, 0, 0.6, 1),
      filter 0.6s cubic-bezier(0, 0, 0.6, 1);
  }

  .index__container.close {
    opacity: 0;
    filter: blur(10px);
  }

  @media (width <=750px) {
    .index__container {
      margin-inline: unset;
    }
  }

  .index__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .index__section div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .index__section > div {
    margin-block-end: 150px;
  }

  @media (width <=750px) {
    .index__container > section {
      justify-content: center;
      gap: 1rem 0rem;
      margin-block-end: 12rem;
    }
  }

  .index__img {
    min-width: inherit;
    min-height: inherit;
    max-width: var(--image-width);
    object-fit: contain;
  }

  @media (width <=750px) {
    .index__img {
      max-width: 100%;
    }
  }

  .info-list__container {
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
</style>
