---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import ProjectList from "@components/ProjectList.astro";
import Modal from "@components/Modal.astro";
import Info from "@components/Info.astro";
import Header from "@components/Header.astro";
import { Image } from "astro:assets";

interface Props {
  entry: CollectionEntry<"wedding">;
}

export async function getStaticPaths() {
  const wedding = await getCollection("wedding");
  return wedding.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const photos = entry.data.images;
console.log(photos);
---

<BaseLayout title={`${entry.data.title}`}>
  <Modal first={entry.data.title} second={entry.data.location} />
  <div class="index__container">
    <Header title={""} />
    <section class="index__section">
      {
        photos.map((photo) => (
          <a id={entry.data.title}>
            <Image
              class="index__img lazy__load"
              src={photo}
              alt="descriptive text"
              width={1200}
            />
          </a>
        ))
      }
    </section>
  </div>
  <Info Content={Content} />
  <ProjectList />
</BaseLayout>

<style>
  .index__container {
    margin-inline: var(--images-inline);
  }

  @media (width <=750px) {
    .index__container {
      margin-inline: unset;
    }
  }

  .index__section a {
    display: grid;
  }

  .index__section > a:first-child {
    min-height: 100dvh;
  }

  .index__section > *:not(:first-child) {
    margin-bottom: 200px;
  }

  .index__section > a:nth-child(even) {
    justify-content: flex-end;
  }

  @media (width <=750px) {
    .index__container > section {
      justify-content: center;
      gap: 1rem 0rem;
      margin-block-end: 12rem;
    }
  }

  .index__img {
    min-width: inherit;
    min-height: inherit;
    max-height: 600px;
    max-width: 600px;
    object-fit: contain;
  }

  @media (width <=750px) {
    .index__img {
      max-width: 100%;
    }
  }
</style>
