---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const currentPath = Astro.url.pathname;
const weddings = await getCollection("wedding");
---

<section class="weddings">
  <div class="weddings__list">
    <p class="weddings__heading">Bröllop</p>
    {
      weddings.map((wedding) => (
        <a
          class={`weddings__link link ${
            currentPath === `/wedding/${wedding.slug}/` ? "active" : ""
          }`}
          href={`/wedding/${wedding.slug}`}>
          <div class="weddings__title">{wedding.data.title}</div>
          <div class="weddings__location">
            <em>{wedding.data.location}</em>
          </div>
          <Image
            class="wedding__thumb"
            src={wedding.data.thumb}
            alt="Wedding photo, couple"
            width={360}
          />
        </a>
      ))
    }
  </div>
</section>

<style>
  .weddings {
    display: flex;
    flex-direction: column;
    width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    padding-block: var(--spacer-xxl);
    padding-block-end: calc(var(--spacer-xxl) * 2);
  }

  .weddings__heading {
    padding-block-end: var(--flow-space);
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
  }

  @media (width<= 800px) {
    .weddings__heading {
      padding-inline: var(--spacer-m);
    }
  }

  .weddings__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 999;
  }

  .weddings__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
  }

  .wedding__thumb {
    display: none;
    z-index: 200;
  }

  .weddings__link:hover .wedding__thumb {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
  }

  @media (width<= 800px) {
    .weddings__link:hover .wedding__thumb {
      left: 50%;
    }
  }

  .link {
    position: relative;
    text-decoration: none;
    background-color: inherit;
  }
</style>
