---
import { AstroFont } from "astro-font";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const canonicalURL = (Astro.url.pathname, Astro.site);
const fallbackDescription = "Klas Näsman, Bröllopsfotograf baserad i Stockholm.";
---

<head>
  <meta charset="UTF-8" />
  <title>{title ? `${title} • Klas Näsman Bröllopsfotograf` : "Klas Näsman Bröllopsfotograf"}</title>
  <meta name="description" content={description ? description : fallbackDescription} />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <meta
    property="og:title"
    content={title ? `${title} • Klas Näsman Bröllopsfotograf` : "Klas Näsman Bröllopsfotograf"}
  />
  <meta property="og:description" content={description ? description : fallbackDescription} />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Klas Näsman Bröllopsfoto" />
  <meta name="theme-color" content="#030712" />
  <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="canonical" href={canonicalURL} />
  <meta property="og:url" content={canonicalURL} />
  <script src="../assets/js/lazyHeaderModal.js"></script>
  <script src="../assets/js/activeSlug.js"></script>
  <script src="../assets/js/infoGoTo.js"></script>
  <script data-goatcounter="https://klas.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  <AstroFont
    config={[
      {
        name: "Domaine Sans",
        src: [
          {
            style: "normal",
            weight: "400",
            path: "/assets/fonts/DomaineSansText-Regular.woff2",
          },
        ],
        preload: true,
        display: "swap",
        fallback: "serif",
      },
    ]}
  />
  <!-- by Out Surfing Studio -->
</head>
